{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Company Registration" context "Company Registration page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="row login">
      <div class="col-md-6 login__form">
        <form method="post" action="{% url 'account:company' %}" novalidate>
          <fieldset>
            <h3>{% trans "Create a Company" context "Signup form title" %}</h3>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if REDIRECT_FIELD_VALUE %}
              <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ REDIRECT_FIELD_VALUE }}"/>
            {% endif %}
          </fieldset>
          <button type="submit" class="btn primary narrow">
            {% trans "Create a company" context "Signup form primary action" %}
          </button>
        </form>
      </div>
      <div class="col-md-6 login__register">
        <div class="login__register-link">
          <h3>{% trans "Become a Partner" context "Login form secondary title" %}</h3>
          <img class="lazyload lazypreload"
               data-src="{% static 'images/login-bg.png' %}"
               data-srcset="{% static 'images/login-bg.png' %} 1x, {% static 'images/login-bg2x.png' %} 2x">
          </a>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
